//site header
.header__transparent {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.home__header,
.header__transparent .is-fixed {
  .menu {
    &__link {
      a {
        font-size: 15px;
        font-weight: 600;
        color: $dark;
        padding: 0px 10px;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .ham__burger {
    span {
      background: $dark;
    }
  }
}

header {
  .main_bar {
    position: relative;
    width: 100%;
    padding: 12px 0px;
  }

  .is-fixed {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .menu__container {
    @include flex_center;
    .menu__logo {
      display: none;
    }
  }

  .menu {
    @include flex_center;

    &__link {
      a {
        font-size: 15px;
        font-weight: 600;
        color: white;
        padding: 0px 10px;
        &:hover {
          color: $dark;
        }
      }
    }
  }

  .auth__menu {
    @include flex_center;
    flex-wrap: nowrap;
    margin-left: 15px;

    .btn {
      margin-left: 10px;
      font-size: 14px;
    }

    li {
      position: relative;
      .sub-menu {
        background-color: #fff;
        display: block;
        top: 60px;
        left: 0;
        list-style: none;
        opacity: 1;
        padding: 5px 0;
        position: absolute;
        visibility: hidden;
        width: 175px;
        z-index: 10;
        margin-top: 20px;
        box-shadow: 0px 1px 40px 0px rgba(0, 0, 0, 0.1);
        @include transitionSlow;

        li {
          position: relative;
          a {
            color: #262f5a;
            display: block;
            font-size: 15px;
            padding: 10px 25px;
            text-transform: capitalize;
            position: relative;
            transition: all 0.15s linear;
            -webkit-transition: all 0.15s linear;
            -moz-transition: all 0.15s linear;
            -o-transition: all 0.15s linear;
            font-weight: 500;

            &:after {
              content: '';
              position: absolute;
              width: 0;
              height: 1px;
              background: $primary;

              left: 20px;
              top: 20px;
              transition: all 0.5s;
              -moz-transition: all 0.5s;
              -webkit-transition: all 0.5s;
              -ms-transition: all 0.5s;
              -o-transition: all 0.5s;
            }
          }
          &:hover > a {
            background-color: #f2f2f2;
            padding: 10px 20px 10px 35px;
            color: $primary;
            @include respond('tab-port') {
              padding: 2px 0 1px 15px;
              background: transparent;
            }
            &:after {
              width: 10px;
            }
          }
        }
      }

      &:hover {
        & > .sub-menu {
          opacity: 1;
          visibility: visible;
          margin-top: 0;
          @include transitionMedium;
        }
      }
    }
  }

  .auth__btn {
    @include flex_center;
    flex-wrap: nowrap;
    margin-left: 15px;

    .btn {
      margin-left: 10px;
      font-size: 14px;
    }
  }

  .ham__burger {
    position: relative;
    width: 28px;
    height: 14px;
    display: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    @include respond('phone-land') {
      display: block;
    }

    span {
      background: white;
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      transition: 0.25s ease-in-out;
      opacity: 1;

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 7px;
      }

      &:last-child {
        top: 14px;
      }
    }
  }

  .ham__burger.open {
    span {
      &:first-child {
        transform: rotate(135deg);
        top: 7px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        top: 7px;
        transform: rotate(-135deg);
      }
    }

    &:hover {
      z-index: 99;
      &:after {
        background-color: rgba(0, 0, 0, 0.6);
        content: '';
        left: 0;
        position: fixed;
        right: -20px;
        top: -63px;
        transform: scale(100);
        -o-transform: scale(100);
        -moz-transform: scale(100);
        -webkit-transform: scale(100);
        width: 100%;
        z-index: -1;
        transition: all 0.5s;
        transform-origin: top right;
        margin: 0 0px 0px 20px;
        -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.6);
      }
      span {
        background: #fff;
      }
    }
  }

  @include respond('phone-land') {
    .is-fixed {
      .ham__burger {
        span {
          background: $dark;
        }
      }
    }

    .menu__container {
      position: fixed;
      overflow-y: scroll;
      height: 100vh;
      top: 0;
      left: 280px;
      transition: all 0.5s;
      display: none;
      z-index: 1000;

      flex-direction: column;
      align-items: flex-start;

      .menu__logo {
        padding: 20px;
        width: 100%;
        display: block;
      }
    }

    .menu__container.show {
      width: 280px;
      background: white;
      left: -1px;
      display: block;
      transition: all 0.8s;
    }

    .menu {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 10px;

      padding: 0px 20px;

      li {
        width: 100%;
        border-bottom: 1px solid #eee;

        a {
          color: $dark;
        }
      }

      &__link {
        padding: 8px 0px;
      }
    }

    .auth__menu {
      flex-direction: column;
      margin-left: 0px;
      padding: 0px 20px;
      width: 100%;
      align-items: stretch;

      li {
        width: 100%;

        .sub-menu {
          top: 75px;
          width: 100%;
        }
      }

      .btn {
        margin: 20px 0px -5px;
        width: 100%;
      }
    }
  }
}
