.page__banner {
  background: #faf8f2;
  height: 225px;
  background-size: cover;
  background-position: 50%;
  position: relative;
  overflow: hidden;
  z-index: 100;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 225px;

    position: relative;
    z-index: 10000;
    padding-top: 30px;

    h2,
    h5 {
      color: #ffffff;
    }
  }
}

.page__inner__content {
  background-image: url('/images/background/bg1.png');
  padding: 80px 0px 70px;

  &__top {
    margin-bottom: 40px;

    .sub_title {
      padding: 10px 30px;
      display: inline-block;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    h2.title {
      font-size: 35px;
      line-height: 1.2;
      margin-top: 0.6rem;
    }
  }
}
